.helaSidan{
    display: flex;
    justify-content: center;
    gap: 50px;
}

#container{
    max-width: 550px;
    max-height: 550px;
    display: flex;
    flex-wrap: wrap;    
}

.colorsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 20%;
}

.divItem{
    transition: background-color 0.2s ease-out;
}

.hoveredItem{
    background-color: black;
}

#gridSettings{
    max-height: 50px;
}